@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Mellin University</h1>

</div>

<div class="row">
  <div class="col-md-4">
      <h2>Welcome to Mellin University</h2>
    <p> Here is a simple application that I created to learn how to do Entity Framework Code First</p>
  </div>
  <div class="col-md-4">
    <h2>Student Life</h2>
    <p>Student life is great because I love learning new things all the time!</p>
  </div>
  <div class="col-md-4">
    <h2>More</h2>
    <p>Here is more stuff that isn't really anything</p>
  </div>
</div>